<h1 mat-dialog-title>Add Sector</h1>

<div mat-dialog-content>
        
        <form [formGroup]="secteurForm" (ngSubmit)="addSecteur()" >
        
          <mat-form-field appearance="outline">
      
            <mat-label>Name</mat-label>
        
             <input matInput  placeholder="Code"   formControlName="codeSecteurActivite">
        
          </mat-form-field>  
        
          <mat-form-field appearance="outline">
        
            <mat-label>Libel</mat-label>
      
            <input matInput placeholder="Libel" formControlName="libelleSecteurActivite" >
        
         </mat-form-field> 

         <button mat-raised-button color="primary" type="submit" >Add</button>
        
         </form>
</div>
     