<body>

    <mat-card >
    
        <mat-card-content >
      
          <h1>Add Product</h1>
        
        <form [formGroup]="productForm" (ngSubmit)="addProduct()" >
        
          <mat-form-field appearance="outline">
    
            <mat-label>Code</mat-label>
        
             <input matInput  placeholder="Code" formControlName="code">
        
          </mat-form-field>  
        
          <mat-form-field appearance="outline">
        
            <mat-label>Libelle</mat-label>
      
            <input matInput placeholder="Country" formControlName="country" >
        
         </mat-form-field> 

         <mat-form-field appearance="outline">
        
            <mat-label>Price</mat-label>
      
            <input matInput placeholder="Price" formControlName="price">
           
         </mat-form-field> 

         <mat-form-field appearance="outline">
        
            <mat-label>Creation date</mat-label>
      
            <input matInput placeholder="Creation date" formControlName="startDate"  [matDatepicker]="picker1">
        
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>

            <mat-datepicker #picker1></mat-datepicker>
            
         </mat-form-field> 

         <mat-form-field appearance="outline">
        
            <mat-label>Expiration date</mat-label>
      
            <input matInput placeholder="End Date" formControlName="endDate"  [matDatepicker]="picker2">
        
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            
            <mat-datepicker #picker2></mat-datepicker>
            
         </mat-form-field>

        <button mat-raised-button color="primary" type="submit" >Add</button>
    
        </form>
        
        </mat-card-content>
        
      </mat-card>
    
</body>

